  <link rel="stylesheet" href="/login.css" />
<section class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <h2>Login</h2>
        <form method="post" action="/login">
            <label>Email
                <input name="email" type="email" required />
            </label>
            <label>Password
                <input name="password" type="password" required />
            </label>
            <button type="submit">Login</button>
        </form>
        <footer>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </footer>
    </div>
</section>